.server-container {
    background: #FFFFFF;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.50);
    color: #5C546A;
    border-radius: 20px;
    width: 285px;
    height: 100px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    flex-direction: row;
    max-height: 120px;

}

#servers {
    padding-top: 80px;
    margin-left: 6%;
    margin-right: 6%;
    display: grid;
    grid-gap: 32px;
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
}

.server-container * {
    display: flex;
}

.server-text-container {
    flex-direction: column;
    align-self: center;
    margin: 12px;
}

.server-name {
    font-size: 20px;
    font-weight: 500;
}

.server-points {
    font-size: 14px;
}

.server-image {
    height: 70px;
    width: 70px;
    min-height: 70px;
    min-width: 70px;
    max-height: 70px;
    max-width: 70px;
    align-self: center;
}

.server-align {
    width: 100%;
    margin: 16px;
}

.server-status {
    margin-top: auto;
    margin-left: auto;
    min-height: 18px;
    min-width: 18px;
    max-height: 18px;
    max-width: 18px;
    background-color: rgb(192, 192, 192);
    border-radius: 100%;
}

.timer {
    margin-top: auto;
    margin-left: auto;
    min-height: 18px;
    min-width: 40px;
    max-height: 18px;
    max-width: 40px;
    display: block;
    text-align: center;
    background-color: #7A7DDB;
    border-radius: 9px;
    color: #FFFFFF;
    font-size: 14px;
}

.server-status[status=hacked] {
    background-color: #FF8C8C;
}

.server-status[status=connected] {
    background-color: #3FD841;
}

.server-status[status=disconnected] {
    background-color: #7A7DDB;
}