#header {
    position: fixed;
    width: 100%;
    height: 64px;
    top: 0px;
    right: 0px;
}

.navigation-bar {
    display: flex;
    height: 64px;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.50);
}

.navigation-bar-logo {
    margin-left: 3vw;
    margin-right: 3vw;
    background-repeat: no-repeat;

}

@media screen and (min-device-width: 640px) {
    .navigation-bar-logo {
        background-image: url(../../images/logo.svg);
        min-width: 125px;
        min-height: 17px;
    }
}

@media screen and (max-device-width: 640px) {
    .navigation-bar-logo {
        background-image: url(../../images/logo-min.svg);
        min-width: 30px;
        min-height: 33px;
    }
}

ul {
    display: flex;
    list-style: none;
}

.navigation-bar-image {
    height: 12px;
    width: 12px;
    margin-left: 6px;
}

.navigation-bar-account {
    margin-left: auto;
    margin-right: 16px;
    flex-direction: row;
    display: flex;
    font-weight: 500;
}

.navigation-bar-item {
    margin-right: 2vw;
    font-weight: 500;
}