.dialog {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    position: fixed;
}

.dialog {
    display: none;
}

.dialog:target {
    display: block;
}

.dialog.no-target {
    display: block;
}

.dialog-bg {
    background: #000000c4;
    height: 100%;
    width: 100%;
    position: fixed;
    cursor: pointer;
}

.dialog-container {
    background: #FFFFFF;
    max-width: 600px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.50);
    margin-top: 80px;
    max-height: 400px;
    position: fixed;
}

.dialog-inner {
    height: 100%;
}

.login-form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.description-title {
    font-weight: 700;
    font-size: 24px;
    color: #5C546A;
    text-align: center;
    margin-bottom: 2px;
}

.description-points {
    font-weight: 500;
    font-size: 18px;
    color: #5C546A;
    text-align: center;
}

.description-text {
    font-weight: 400;
    font-size: 20px;
    color: #5C546A;
    text-align: center;
    padding-right: 32px;
    padding-left: 32px;
}

.login-title {
    font-weight: 700;
    font-size: 24px;
    color: #5C546A;
    text-align: center;
    margin-bottom: 46px;
}

.login-input {
    position: relative;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.50);
    border: 1px solid transparent;
    border-radius: 3px;
    font-weight: 500;
    color: #403866;
    border-radius: 8px;
    font-size: 18px;
    height: 62px;
    padding: 0 20px 0 38px;
    margin-bottom: 16px;
    width: 360px;
}

.dialog-close {
    position: absolute;
    display: block;
    right: 0;
    margin: 20px;
    cursor: pointer;
}


.login-button {
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    height: 62px;
    background-color: #FF4F19;
    border-radius: 8px;
    width: 360px;
    margin-top: 16px;
  }
  
.login-button:hover {
    background-color: #DA4416;
}

.description-text {
    text-align: left;
}

.description-password {
    background-color: brown;
    padding: 8px;
    margin-top: 16px;
    color:goldenrod;
    border-radius: 8px;
    text-align: left;
    margin-bottom: 36px;
}

.description-addr {
    margin-top: 16px;
    text-align: left;
}

